##
# All environment variables defined here will only apply if you pass them
# to the OpenProject container in docker-compose.yml under x-op-app -> environment.
# For the examples here this is already the case.
#
# Please refer to our documentation to see all possible variables:
#   https://www.openproject.org/docs/installation-and-operations/configuration/environment/
#

# Please override the SECRET_KEY_BASE
# Please use a pseudo-random value for this and treat it like a password.
# If you are on Linux you can generate a scret key with the following command
# head /dev/urandom | tr -dc A-Za-z0-9 | head -c 32 ; echo ''

# ============================================================================
# Postgres Configuration
# ============================================================================
TAG=17-slim
POSTGRES_VERSION=17
POSTGRES_PASSWORD=ACTUAL_PASSWORD
DATABASE_URL=postgres://postgres:ACTUAL_PASSWORD@db/openproject?pool=20&encoding=unicode&reconnect=true

# ============================================================================
# OpenProject Configuration
# ============================================================================
OPENPROJECT_HOST__NAME=127.0.0.1
SECRET_KEY_BASE=OVERWRITE_ME
OPENPROJECT_RAILS__RELATIVE__URL__ROOT=
OPENPROJECT_HTTPS=false
OPENPROJECT_HSTS=false
OPENPROJECT_HOST__NAME=localhost
PORT=127.0.0.1:8080
OPENPROJECT_SSRF_PROTECTION_ENABLED=false

# ============================================================================
# Network Configuration
# ============================================================================
PORT=8080

# ============================================================================
# IMAP/Email Configuration
# ============================================================================
IMAP_ENABLED=false
# ============================================================================
# Rails Configuration
# ============================================================================
RAILS_MIN_THREADS=4
RAILS_MAX_THREADS=16

# ============================================================================
# Collaboration Configuration
# ============================================================================
COLLABORATIVE_SERVER_URL=ws://localhost:8080/hocuspocus
COLLABORATIVE_SERVER_SECRET=secret12345

# ============================================================================
# SMTP Configuration
# ============================================================================
EMAIL_DELIVERY_METHOD=smtp
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_DOMAIN=
SMTP_AUTHENTICATION=login
SMTP_ENABLE_STARTTLS_AUTO=
SMTP_USER_NAME=
SMTP_PASSWORD=
SMTP_ADMIN_EMAIL=
SMTP_REPLY_TO=
